body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    height: 100vh;
    width: 100vh;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    min-width: 300px;
    background-color: lightgrey;
    padding: 30px;
    overflow: hidden;
    border: solid black 1px;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    overflow: hidden;
    background-color: whitesmoke;
    margin-bottom: 15px;
    width: 355px;
    height: 200px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
}

button {
    display: inline-block;
    overflow: hidden;
    font-size: x-large;
    text-overflow: ellipsis;
    cursor: pointer;
    min-height: 80px;
    min-width: 80px;
    margin: 5px;
    border-radius: 5px;
    border: solid black 1px;
}

#ac-button:hover, #c-button:hover {
    background-color: red;
}

#equalsButton {
    display: inline-block;
    min-height: 80px;
    min-width: 175px;
    overflow: hidden;
}